  <div class="uk-card uk-card-hover uk-card-default uk-card-body">
            <div class="uk-card-header">
                <h2 class="uk-card-title"> testing UI Kit card</h3>
            </div>
            <p class="uk-card-body"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis nemo beatae praesentium, magnam commodi dolore eum mollitia. Voluptas accusamus nam magni quaerat modi esse, mollitia veritatis voluptate voluptatibus. Magnam, animi!</p>
            <div class="uk-card-footer">
                <p class="posted-on-data"> posted by testUser on 12/2/2020</p>
            </div>
    </div>