<div class="form-container">
    <form class="uk-form-stacked sign-up-form">
      <legend class="uk-legend" >SignUp</legend>
      <div class="uk-margin">
        <label class="uk-form-label">Username</label>
        <div class="uk-form-controls">
          <input class="uk-input" id="form-stacked-text" type="text" placeholder="user">
        </div>
      </div>
      <div class="uk-margin">
        <label class="uk-form-label">Password</label>
        <div class="uk-form-controls">
          <input class="uk-input" id="form-stacked-text" type="password" placeholder="new password">
        </div>
      </div>
      <div class="uk-margin">
        <label class="uk-form-label">Email</label>
        <div class="uk-form-controls">
          <input class="uk-input" id="form-stacked-text" type="email" placeholder="your@email.com">
        </div>
      </div>
      <button class="uk-button uk-button-primary" form="sign-up-form" type="submit"> Submit</button>
    </form>
    </div>