<div class="uk-card uk-card-hover uk-card-default uk-card-body">
      <div class="uk-card-header">
        <h2 class="uk-card-title"> testing UI Kit card</h3>
      </div>
      <p class="uk-card-body"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis nemo beatae praesentium,
        magnam commodi dolore eum mollitia. Voluptas accusamus nam magni quaerat modi esse, mollitia veritatis voluptate
        voluptatibus. Magnam, animi!</p>
      <p class="posted-on-data"> posted by testUser on 12/2/2020</p>
      <div class="uk-margin">
        <h3 class="uk-card-footer"> posted by user on something</h3>
        <p class="uk-card-body">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur quos alias aliquid
          quo deleniti rerum, blanditiis ut! Dolor adipisci dignissimos laudantium a, neque temporibus autem tenetur
          exercitationem beatae voluptate quod!</p>
      </div>
      <div class="uk-margin">
        <h4>New comment</h4>
        <textarea class="uk-textarea" rows="5" placeholder="Comment body"></textarea>
        <button class="uk-button uk-button-primary uk-button-medium">submit</button>

      </div>
    </div>